In [2]:
print ("Hello")

Hello

In [ ]:
a = 3
b = 5
c = 7

In [7]:
my_first_list = [1, 2, 3]
my_second_list = [4, 5, 6]

my_first_list.append(my_second_list)
my_first_list[3][1]
my_first_list[-1][1]
my_first_list[-1][-2]
my_first_list[0]

1

In [4]:
var1 = 1
var2 = 2
var3 = "3"

print(var1 + var2 + var3)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [8]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

25
125

In [9]:
x = 36 / 4 * (3 +  2) * 4 + 2
print(x)

182.0

In [14]:
var= "James Bond"
print(var[2::-1])

maJ

In [15]:
p, q, r = 10, 20 ,30
print(p, q, r)

10 20 30

In [16]:
str = "pynative"
print (str[1:3])

yn

In [19]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append("Scott")
print(sampleList)

['Jon', 'Kelly', 'Jessa', 'Scott']

In [20]:
var = "James" * 2  * 3
print(var)

JamesJamesJamesJamesJamesJames

In [21]:
listOne = [20, 40, 60, 80]
listTwo = [20, 40, 60, 80]

print(listOne == listTwo)
print(listOne is listTwo)

True
False

In [22]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[-7:-2])

['c', 'd', 'e', 'f', 'g']

In [23]:
L = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i']
print(L[6:1:-2])

['g', 'e', 'c']

In [24]:
L = ['a', 'b', 'c', 'd', 'e']
L[1:2] = [1, 2, 3]
print(L)

['a', 1, 2, 3, 'c', 'd', 'e']

In [32]:
def concatenate(str1, str2):
    print(str1+ " "+str2)

In [33]:
concatenate('abc','defg')

abc defg

In [42]:
def difference_of_strings(str1,str2):
    vara = len(str1)
    varb = len(str2)
    if vara>varb:
       print(vara-varb)
    else:
        print(varb-vara)

In [46]:
difference_of_strings('abc', 'defg')

1

In [47]:
def operation_calc(num1, num2, operator):
    if operator == 'add':
        print('sum is {}'.format(num1 + num2))
    elif opp == 'sub':
        print('minus is {}'.format(num1 - num2))
    elif opp == 'mul':
        print('multiply is {}'.format(num1 * num2))
    elif opp == 'div':
        if num2!=0:
            print('div is {}'.format(num1/num2))
        else:
            print('div not possible')
    else:
        print('operator is invalid')

In [48]:
operation_calc(10,30,'add')

sum is 40